In [1]:
from pyspark import SparkContext
from graphframes import *

In [2]:
from pyspark import *
from pyspark.sql import *

In [3]:
import findspark

In [4]:
sc=SparkContext().getOrCreate()

In [5]:
sqlcontext=SQLContext(sc)

In [12]:
df=sqlcontext.read.format("json").option("header","true").json("data.json")

In [13]:
df.registerTempTable("Twitter")

In [45]:
vertices=sqlcontext.sql('SELECT id,user.location FROM Twitter where user.location is not null limit 10')

In [46]:
vertices.show()

+-------------------+--------------------+
|                 id|            location|
+-------------------+--------------------+
|1194836026931462145|       uniondale, ny|
|1194836027258654727|     Space City ğŸ’«ğŸš€|
|1194836027292045312|           Beaverton|
|1194836027820498945|          Texas, USA|
|1194836028244332544|        Indiana, USA|
|1194836028231536641|          The Garden|
|1194836028407726080|     California, USA|
|1194836028508581888|Ramsgate, South A...|
|1194836028848300038|             Azeroth|
|1194836029557088256|        New York, NY|
+-------------------+--------------------+

In [38]:
edges=sqlcontext.sql('select user.name as src, user.followers_count as dst from Twitter where user.name is not null')

In [39]:
edges.show()

+--------------------+------+
|                 src|   dst|
+--------------------+------+
|                alex|   330|
|               Gabby|   113|
|                Alex|   197|
|Richard McCarthy IV.|   204|
|        Classic Pics|308673|
|  SpookySalinas ğŸ‘»ğŸƒ|   190|
|        Nada Tuffaha|   681|
|            â˜† LILI â˜†|   181|
|Kemba will drop 2...|   106|
|         Y E L L O W|   607|
|        REECE DECLAN|    33|
|                  li|   119|
|                 geo|   117|
|                 Vel|   300|
|                Matt|    60|
| ğ™ğ™ğ™–ğ™© ğ˜½ğ™ğ™©ğ™˜ğ™|  1029|
|          PS Forever|   148|
|               Mochi|     0|
|ğŸ‡ğ”‡ğ”¬ğ”©ğ”©ğ”ğ”¯ ğ”–...|   152|
|          ğ” ğ”¥ğ”¯ğ”¦ğ”°|   866|
+--------------------+------+
only showing top 20 rows

In [40]:
from graphframes import *

In [47]:
graph=GraphFrame(vertices,edges)

In [48]:
graph.vertices.show()

+-------------------+--------------------+
|                 id|            location|
+-------------------+--------------------+
|1194836026931462145|       uniondale, ny|
|1194836027258654727|     Space City ğŸ’«ğŸš€|
|1194836027292045312|           Beaverton|
|1194836027820498945|          Texas, USA|
|1194836028244332544|        Indiana, USA|
|1194836028231536641|          The Garden|
|1194836028407726080|     California, USA|
|1194836028508581888|Ramsgate, South A...|
|1194836028848300038|             Azeroth|
|1194836029557088256|        New York, NY|
+-------------------+--------------------+

In [49]:
graph.edges.show()

+--------------------+------+
|                 src|   dst|
+--------------------+------+
|                alex|   330|
|               Gabby|   113|
|                Alex|   197|
|Richard McCarthy IV.|   204|
|        Classic Pics|308673|
|  SpookySalinas ğŸ‘»ğŸƒ|   190|
|        Nada Tuffaha|   681|
|            â˜† LILI â˜†|   181|
|Kemba will drop 2...|   106|
|         Y E L L O W|   607|
|        REECE DECLAN|    33|
|                  li|   119|
|                 geo|   117|
|                 Vel|   300|
|                Matt|    60|
| ğ™ğ™ğ™–ğ™© ğ˜½ğ™ğ™©ğ™˜ğ™|  1029|
|          PS Forever|   148|
|               Mochi|     0|
|ğŸ‡ğ”‡ğ”¬ğ”©ğ”©ğ”ğ”¯ ğ”–...|   152|
|          ğ” ğ”¥ğ”¯ğ”¦ğ”°|   866|
+--------------------+------+
only showing top 20 rows

In [50]:
graph.inDegrees.show()

+------+--------+
|    id|inDegree|
+------+--------+
|    29|     760|
|    26|     857|
|   474|     162|
|  2250|      14|
|   964|      71|
|  1677|      17|
|  2509|      13|
|  1950|      19|
|  3506|       6|
|  3091|       8|
|  3764|       5|
|  1806|      16|
|  2040|      14|
|  2453|       5|
|  2927|       3|
|229723|       1|
|  2214|       8|
|  2529|       8|
|  5409|       2|
|  1697|      27|
+------+--------+
only showing top 20 rows

In [51]:
graph.outDegrees.show()

+------------------+---------+
|                id|outDegree|
+------------------+---------+
|        â˜¾Michelleâ˜½|        3|
|        donna cook|        1|
|               ğ–.|        1|
|          Cassieâ˜†å½¡|        1|
|              Nell|        3|
|              KJHâ˜†|        1|
|             oscar|       10|
|                t.|        9|
|                ğŸŒŸ|       34|
|     Edvin Escober|        1|
|        Nazia â™Œï¸ğŸŒ|        1|
|  phlower child ğŸŒ»|        1|
|Pomf & Thud Actu's|       11|
|               dri|        2|
|        ğŸ’§BrianağŸ¥€|        1|
|             ruben|        3|
|   Sha-leer-uhğŸ‡§ğŸ‡§|        1|
|                 K|       63|
|              simo|        1|
|           malissa|        1|
+------------------+---------+
only showing top 20 rows

In [52]:
graph.triangleCount().show()

+-----+-------------------+--------------------+
|count|                 id|            location|
+-----+-------------------+--------------------+
|    0|1194836026931462145|       uniondale, ny|
|    0|1194836027292045312|           Beaverton|
|    0|1194836029557088256|        New York, NY|
|    0|1194836028407726080|     California, USA|
|    0|1194836028244332544|        Indiana, USA|
|    0|1194836028508581888|Ramsgate, South A...|
|    0|1194836027820498945|          Texas, USA|
|    0|1194836028231536641|          The Garden|
|    0|1194836028848300038|             Azeroth|
|    0|1194836027258654727|     Space City ğŸ’«ğŸš€|
+-----+-------------------+--------------------+

In [39]:
graph.vertices.write.parquet("vertices")
graph.edges.write.parquet("edges")